<div class="container">
    <div class="row align-items-start">
        <div class="col"></div>
    </div>
    <div class="row align-items-center">
        <div class="col-md-4"></div>
            <div class="col-md-4 xs-12">
                <form>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">@</span>
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <br>
                    <div class="input-group flex-nowrap">
                        <span class="input-group-text" id="addon-wrapping">@</span>
                        <input type="password" class="form-control" placeholder="password" aria-label="password" aria-describedby="addon-wrapping">
                    </div>
                    <br>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-primary" routerLink="/home" >Subimeter</button>
                    </div>
                </form>
            </div>            
            <div class="col-md-4"></div>
      </div>
      <div class="row align-items-end">
        <div class="col"></div>
      </div>
</div>
